* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main-header {
  padding: 60px 15px 60px;
}

.main-title {
  font-size: 30px;
  text-align: center;
  margin: 0 0 20px;  
}

.social-links-wrapper {
  text-align: center;
}

.social-link {
  margin: 10px 0;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.projects-title {
  font-size: 25px;
  text-align: center;
  margin: 0 0 20px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.project-card {
  background-color: white;

  display: flex;
  align-items: center;
  flex-direction: row;

  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  width: 100%;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.card-image {
  max-width: 260px;
}

.card-title {
  margin: 0 0 10px;
}

.card-info {
  padding: 15px 0;
}

.card-title {
  margin-bottom: 20px;
}

.card-description {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-right: 10px;
}

.card-link {
  margin: 5px 0;
}

@media (max-width: 768px) {
  #main-header {
    
  }
}

@media (max-width: 576px) {
  .project-card {
    flex-wrap: wrap;
  }

  .card-info {
    padding: 0 15px;
  }
}

/*@media (max-width: 576px) {
  #main-header {
    color: red;
    margin: 100px auto 60px;
    padding: 0 15px;
  }

  .project-card {
    flex-wrap: wrap;
  }

  .main-title {
    font-size: 22px;
  }

  .card-title {
    text-align: center;
  }
} */

/*@media (min-width: 576px) {
  #main-header {
    color: blue;
    margin: 120px auto 80px;
    width: 540px;
  }

  .main-title {
    font-size: 22px;
  }

  .container {
    margin: 0 auto;
    width: 540px;
  }

  .projects-title {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  #main-header {
    color: green;
    margin: 120px auto 80px;
    width: 720px;
  }

  .main-title {
    font-size: 28px;
  }

  .container {
    margin: 0 auto;
    width: 720px;
  }

  .projects-title {
    font-size: 22px;
  }
}