#main-header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 95vh;
    margin: 0 auto;
    width: 90vw;
}

#main-header h1 {
    font-size: 144px;
}

.blink {
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
  }
  @-webkit-keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
  }
  @keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
  }